page-show-full-recipe {

}
h1{
    font-weight: bold;
    text-transform: uppercase;
}
h2{
font-weight: bold;
 padding-left: 2%;   
}
p{
    padding-left: 2%;   
   }
h3{
    width :100%;
}
.row{
border: 10px black;

}